.cardContainer {
    width: 300px;
    border: 1px solid green;
    padding: 30px;
    background-color: black
    

}

.subContainer {
    display: flex;
    justify-content: space-evenly;
    color: white;
    
}

.btn {
    background-color: red;
    color: white;
    float: right;
    }
